.table{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px;
    background-color: whitesmoke;
    border-radius: 64px;
}

.table___column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.table___column-title{
    font-size: 64px;
    font-weight: bold;
    color: #1A57FF;
}

.table___column-items{
    display: flex;
    flex-direction: column;
    gap: 10px;

    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.table___column-item{
    color: black;
}

.table___column-item:hover{
    color: #1A57FF;
}