.topbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.topbar h1{
    font-size: 64px;
    font-weight: bold;
    color: #1A57FF;
    margin-bottom: 50px
}

.topbar a button{
    font-size: 32px;
    padding: 16 32px;
    background-color: #1A57FF;
    color: whitesmoke;
    border: none;
    border-radius: 16px;
}

.table{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px;
    background-color: whitesmoke;
    border-radius: 64px;
}

.table-column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.table-column span{
    font-size: 64px;
    font-weight: bold;
    color: #1A57FF;
}

.table-column div{
    display: flex;
    flex-direction: column;
    gap: 10px;

    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.table-column-link{
    color: black;
}

.table-column-link:hover{
    color: #1A57FF;
}