.info{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 50px;
}

.info___help{
    font-size: 24px;
    font-weight: bold;
    color: #1A57FF;
    opacity: 50%;
}

.info___filter{
    font-size: 24px;
    font-weight: bold;
    color: #1A57FF;
    padding: 10px;
    border: 3px solid #1A57FF;
    border-radius: 16px;
    width: 200px;
    text-align: center;
}

.info___filter:hover{
    color: whitesmoke;
    background-color: #1A57FF;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.list___table{
    width: 100%;
}

.list___table-caption{
    color: #1A57FF;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.list___table-cell{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

.list___table-cell-link---not-active{
    color: black;
}

.list___table-cell-link---active{
    color: black;
}

.list___table-cell-link---active:hover{
    color: #1A57FF;
}
