{% extends 'base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/teachers/list.css' %}">
{% endblock%}
{% block main %}
    <main>
        <div class="topbar">
            <h1 class="headline">{{ headline }}<br><span class="subhadline">{{ subheadline }}</span></h1>
            {% if request.user.is_authenticated %}
            <a href="{% url 'teachers create' %}"><button class="topbar___button">New +</button></a>
            {% endif %}
        </div>
        <div class="list">
            {% for teacher in teachers %}
            <div class="list___item" {% if request.user.is_anonymous %}style="min-height: 325px;"{% endif %}>
                <div class="list___item-top" style="background-image: url('{{ teacher.image.url }}');">
                    <h2 class="list___item-top-headline">{{teacher.lastname}} {{ teacher.name }} {{ teacher.surname }}</h2>
                </div>
                {% if request.user.is_authenticated %}
                <div class="list___item-bottom">
                    <a class="list___item-bottom-link" href="{% url 'teachers edit' teacher.id %}">
                        <img class="list___item-bottom-link-image" src="{% static 'img/edit.png' %}" alt="">
                    </a>
                    <a class="list___item-bottom-link" href="{% url 'teachers delete' teacher.id %}">
                        <img class="list___item-bottom-link-image" src="{% static 'img/bin.png' %}" alt="">
                    </a>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}