{% extends 'base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/schedule/list.css' %}">
{% endblock %}
{% block main %}
    <main>
        <div class="topbar">
            <h1 class="topbar-title">Schedule</h1>
            {% if request.user.is_authenticated %}
            <a href="{% url 'schedule create' %}"><button class="list-button">New +</button></a>
            {% endif %}
        </div>
        {% if canel_filter %}
        <a style="color: #1A57FF;" href="{% url 'schedule' %}">Canel Filter</a>
        {% else %}
        <span>press on group to filter by group</span>
        {% endif %}
        <div class="list">
            {% for day, record_by_day in schedule.items %}
            <table>
                <caption>{{ day }}</caption>
                <thead>
                    {% for time in times %}
                        {% if forloop.first %}
                            <tr>
                                <td>

                                </td>
                        {% endif %}
                                <td>
                                    {{ time }}
                                </td>
                        {% if forloop.last %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                </thead>
                <tbody>
                    {% for group, record_by_group in record_by_day.items %}
                        {%  for time, record_by_time in record_by_group.items %}
                            {% if forloop.first %}
                            <tr>
                                <td>
                                    <a class="active-link" href="{% url 'schedule' %}?group={{ group }}">{{ group }}</a>
                                </td>
                            {% endif %}
                            <td>
                                {% if record_by_time %}
                                <a {% if request.user.is_authenticated %}href="{% url 'schedule edit' record_by_time.id %}" class="active-link"{% endif %}">
                                    <span>{{ record_by_time.subject }}</span><br>
                                    <span>{{ record_by_time.teacher }}</span>
                                </a>
                                {% endif %}
                            </td>
                            {% if forloop.last %}
                            </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
            {% endfor %}
        </div>
    </main>
{% endblock %}