{% extends 'base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/subjects/list.css' %}">
{% endblock %}
{% block main %}
<main>
    <div class="topbar">
        <h1 class="topbar-title">Subjects</h1>
        {% if request.user.is_authenticated %}
        <a href="{% url 'subjects create' %}"><button class="list-button">New +</button></a>
        {% endif %}
    </div>
    <ul class="list">
        {% for subject in subjects %}
        <hr class="list-line">
        <li class="list-row">
            <span>{{ subject.title }}</span>
            <div class="list-row-manage">
                {% if request.user.is_authenticated %}
                <a href="{% url 'subjects edit' subject.id %}" class="list-row-manage-edit">EDIT</a>
                <a href="{% url 'subjects delete' subject.id %}" class="list-row-manage-delete">DELETE</a>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}