html{
    font-family:Arial, Helvetica, sans-serif
}

a{
    color: whitesmoke;
    text-decoration: none;
}

hr{
    margin: 0;
	padding: 0;
}

.base-title{
    font-size: 64px;
    font-weight: bold;
    color: #1A57FF;
    margin-bottom: 50px;
}

main{
    margin: 5% 10%;
    padding: 5% 10%;
    box-shadow: 5px 5px 20px black;
    border-radius: 36px;
    background-color: white;
}
