.footer{
    min-height: 400px;

    background-image: url('This must be changed in style');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;

    display: flex;

    color: whitesmoke;
}

.footer___description
{
    flex: 1;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer___description-title
{
    font-size: 32px;
    font-weight: bold;
}

.footer___description-text
{
    font-size: 24px;
    text-indent: 32px;
    text-wrap-mode: wrap;
}

.footer___links
{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 50px 100px;
}

.footer___nav
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer___nav-button
{
    padding: 10px;
    border-width: 3px;
    border-radius: 10px;
    border-style: solid;
    border-color: whitesmoke;
}

.footer___nav-link
{
    font-weight: bold;
    font-size: 24px;
}

.footer___media
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer___media-image
{
    height: 64px;
    width: auto;
}

.footer___license{
    text-align: center;
}

.footer___license-text{
    text-decoration: underline;
}