.form{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.form-title
{
    font-size: 64px;
    font-weight: bold;
    color: #1A57FF;
    margin-bottom: 50px;
}

.form-field{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;

    color: black;
}

.form-name{
    font-size: 24px;
    padding: 24px;

    border: 2px solid #1A57FF;
    border-radius: 15px;
}

.form-name:focus{
    outline: none;
    border-width: 5px;
    border-color: #1A57FF;
}

.form-lastname{
    font-size: 24px;
    padding: 24px;

    border: 2px solid #1A57FF;
    border-radius: 15px;
}

.form-lastname:focus{
    outline: none;
    border-width: 5px;
    border-color: #1A57FF;
}

.form-surname{
    font-size: 24px;
    padding: 24px;

    border: 2px solid #1A57FF;
    border-radius: 15px;
}

.form-surname:focus{
    outline: none;
    border-width: 5px;
    border-color: #1A57FF;
}

.form-email{
    font-size: 24px;
    padding: 24px;

    border: 2px solid #1A57FF;
    border-radius: 15px;
}

.form-email:focus{
    outline: none;
    border-width: 5px;
    border-color: #1A57FF;
}

.form-password{
    font-size: 24px;
    padding: 24px;

    border: 2px solid #1A57FF;
    border-radius: 15px;
}

.form-password:focus{
    outline: none;
    border-width: 5px;
    border-color: #1A57FF;
}

.form-file{
    font-size: 32px;
    font-weight: bold;
    color: black;
}

.form-file::file-selector-button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;

    background-color: #1A57FF;
    border-width: 2px;
    color: whitesmoke;

    padding: 24px;
    border: 1px solid;
    border-color: none;
    border-radius: 15px;
}

.form-submit{
    font-size: 32px;
    font-weight: bold;
    padding: 32px;

    background-color: #1A57FF;
    color: whitesmoke;

    border-color: none;
    border-width: 0;
    border-radius: 32px;
}

