.header{
    color: whitesmoke;
    background-color: #003DE6;

    position: sticky;
    top: 0;
    z-index: 100;
}

.header___menu-links
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    font-size: 24px;
    font-weight: bold;
}

.header___menu-link
{
    height: auto;
    width: auto;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.header___menu-link:hover
{
    color: white;
    background-color: #1A57FF;
}

.header___menu-link---active{
    color: white;
    background-color: #1A57FF;
}

.header___menu-contact-info
{
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: auto;
    width: auto;
    margin-left: 25px;
    margin-right: 25px;

    font-size: 18px;
}

.header___menu-logo
{
    margin-left: 25px;
    margin-right: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.header___menu-logo-image
{
    height: 60px;
    width: auto;
}

.header___breadcramps{
    background-color: #0030B3;
    
    padding: 5px 0;

    display: flex;
    justify-content: center;
    gap: 5px;
}

.header___breadcramps-text{
    color: whitesmoke;
}

.header___breadcramps-link:hover{
    text-decoration: underline;
}
