{% extends 'base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/groups/list.css' %}">
{% endblock %}
{% block main%}
    <main>
        <div class="topbar">
            <h1 class="headline">{{ headline }}</h1>
            {% if request.user.is_authenticated %}
            <a href="{% url 'groups create' %}"><button class="topbar___button">New +</button></a>
            {% endif %}
        </div>
        <div class="table">
            {% for course, codes in groups.items %}
            <div class="table___column">
                <span class="table___column-title">{{ course }}К</span>
                <div class="table___column-items">
                    {% for code in codes %}
                        <div><a class="table___column-item" href="{% url 'groups edit' course|add:'К'|add:code %}">{{ code }}</a></div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}