.list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list___line{
    border-color: lightgray;
    border-width: 1px;
}

.list___row{
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list___row-manage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
}

.list___row-manage---active:hover{
    text-decoration: underline;
}

.list___row-manage-edit{
    color: #1A57FF;
}

.list___row-manage-delete{
    color: black;
}



