{% load static %}
{% load menu_tags %}
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/footer.css' %}">
        {% block links %}{% endblock %}
        <link rel="icon" href="{% static 'img/icon.png' %}">
        <title>Main</title>
    </head>
    <body>
        <header>
            <nav class="menu-links">
                <li class="menu-links-logo"><img src="{% static 'img/logo.png' %}" alt=""></li>
                <a href="{% url 'index' %}"><li class="menu-links-link {% active 'index' %}">INDEX</li></a>
                <a href="{% url 'schedule' %}"><li class="menu-links-link {% active 'schedule' %}">SCHEDULE</li></a>
                <a href="{% url 'teachers' %}"><li class="menu-links-link {% active 'teachers' %}">TEACHERS</li></a>
                <a href="{% url 'groups' %}"><li class="menu-links-link {% active 'groups' %}">GROUPS</li></a>
                <a href="{% url 'subjects' %}"><li class="menu-links-link {% active 'subjects' %}">SUBJECTS</li></a>
                <li class="menu-links-contact">
                    <span>{{ email }}</span>
                    <hr>
                    <span>{{ phone }}</span>
                </li>
            </nav>
            <hr>
            <nav class="menu-breadcramps">
                {% for name, path in breadcramps.items %}
                <a href="{{ path }}">{{ name }}</a>
                {% if not forloop.last %}
                <span>></span>
                {% endif %}
                {% endfor %}
            </nav>
        </header>
        {% block main %}{% endblock %}
        <footer style="background-image: url('{% static 'img/Office-Open-Space(3).png' %}');">
            <div class="footer-description">
                <span>Minsk Radiochecnik Collage</span>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dignissimos quidem rem impedit amet magni accusantium sunt ea tenetur. Cum mollitia ad nihil quam, nisi ullam vel quos porro tempora saepe! Facilis ut non quos veniam reprehenderit temporibus hic est nulla, quia eaque accusantium? Cupiditate molestiae ipsam repellat deserunt voluptas.</p>
            </div>
            <div class="footer-links">
                <div class="footer-sitelinks">
                    <a href="{% url 'index' %}"><div>INDEX</div></a>
                    <a href="{% url 'schedule' %}"><div>SCHEDULE</div></a>
                    <a href="{% url 'teachers' %}"><div>TEACHERS</div></a>
                    <a href="{% url 'groups' %}"><div>GROUPS</div></a>
                    <a href="{% url 'subjects' %}"><div>SUBJECTS</div></a>
                </div>
                <hr>
                <div class="footer-medialinks">
                    <a href="{{ social_telegram }}"><img src="{% static 'img/telegram.png' %}" alt=""></a>
                    <a href="{{ social_instagram }}"><img src="{% static 'img/social-media.png' %}" alt=""></a>
                    <a href="{{ social_youtube }}"><img src="{% static 'img/youtube.png' %}" alt=""></a>
                    <a href="{{ social_wk }}"><img src="{% static 'img/vkontakte.png' %}" alt=""></a>
                </div>
                <hr>
                <div class="footer-license">
                    <span>{{ license }}</span>
                </div>
            </div>
        </footer>
    </body>
</html>