{% extends 'base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/delete.css' %}">
{% endblock %}
{% block main %}
<main>
    <h1 class="headline">{{ headline }}<br><span class="subheadline">{{ subheadline }}</span></h1>
    <form class="form" method="post">
        {% csrf_token %}
        <a href="{% url canel_url %}"><button class="form___button form___button-canel" type="button">Canael</button></a>
        <button class="form___button form___button-edit" type="submit">Confirm</button>
    </form>
</main>
{% endblock %}